body {
	font-family: 'Clear Sans', 'Source Sans Pro', sans-serif;
}

.welcome a {
	color: #c1272d;
}

.welcome a:hover {
	text-decoration: underline;
}

.container h1 {
	font-family: 'Clear Sans Bold';
}

.join {
	color: #fff !important;
	background: #c1272d !important;
}

a.join:hover {
	text-decoration: none;
}

.join-disclaimer {
	font-size: 85%;
	opacity: .54;
}

#join-modal .modal-content {
    padding-bottom: 0px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #c1272d;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #c1272d;
	box-shadow: 0 1px 0 0 #000;
}

.calendar-section {
	padding-top: 30px;
	text-align: center;
	background: #fff;
}

.calendar-section h1 {
	color: #c1272d;
	margin-top: 0px;
}

.calendar-section .subscribe-link {
	text-align: center;
	position: relative;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.calendar-section .subscribe-link a {
	font-size: 1.25em;
}

.calendar-section .subscribe-link a:hover {
	cursor: pointer;
	color: #c1272d;
}

.calendar-section .subscribe-link:after {
	content: "";
	background: #c1272d;
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: 0;
	width: 50%;
	height: 1px;
}

#calendar {
	text-align: center;
	background: #fff;
}

.programs {
	padding: 0.75rem;
}

.programs-label {
	opacity: .54;
}

.programs-list {
	margin: 0px;
}

.programs-list li a {
	color: #000;
	font-family: 'Clear Sans Medium';
	font-size: 1.64rem;
}

.programs-list li a:hover {
	color: #c1272d;
}

.blog-label {
	opacity: .54;
}

#blog-post .pagination {
	display: none;
}

a.blog-btn {
    margin-top: 3rem;
    color: #c1272d;
    font-family: "Clear Sans Light";
}

@media only screen and (max-width: 600px) {
	a.blog-btn {
		padding: 0 0.5rem !important;
	}
}
