body {
	font-family: 'Clear Sans', sans-serif;
}

.container a {
	color: #c1272d;
}

.containter a:hover {
	text-decoration: underline !important;
}

.welcome {
	text-align: center;
	padding-top: 70px;
	min-height: 400px;
	font-size: 1.25em;
	position: relative;
	z-index: 0;
	width: 100%;
}

.welcome-header {
	text-align: center;
	letter-spacing:0.2em;
	margin-bottom: 20px;
	padding-top:10px;
	font-weight:600;
	z-index: 0;
	font-size: 3.75em;
}

.join {
	color: #fff !important;
	background: #c1272d !important;
}

.mobile-welcome {
	background: #c1272d;
}

.welcome.mobile-welcome .welcome-header {
	font-size: 3em;
}

.welcome-text {
	background-color: transparent;
	padding: 0px 50px 50px 50px;
	z-index: 0;
}

.calendar-section {
	padding-top: 30px;
	text-align: center;
	background: #fff;
}

.calendar-section h1 {
	color: #c1272d;
	margin-top: 0px;
}

.calendar-section .subscribe-link {
	text-align: center;
	position: relative;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.calendar-section .subscribe-link a {
	font-size: 1.25em;
}

.calendar-section .subscribe-link a:hover {
	cursor: pointer;
	color: #c1272d;
}

.calendar-section .subscribe-link:after {
	content: "";
	background: #c1272d;
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: 0;
	width: 50%;
	height: 1px;
}

#calendar {
	text-align: center;
	background: #fff;
}

#blog-post .blog-header {
	text-align: center;
	padding: 10px 0px;
	margin-top: 0px;
	position: relative;
}

.post {
	color: #000 !important;
	font-family: 'Clear Sans' !important;
}

.post div {
	color: #000 !important;
	font-family: 'Clear Sans' !important;
}

.post-title {
	font-size: 2.92rem;
}

.post-details {
  display: block;
  margin: -8px 0 10px;
  font-size: 12px;
}

#blog-post .pagination {
	display: none;
}

#blog-post .blog-link {
	text-align: center;
	color: #c1272d;
	margin-top: -20px;
	margin-bottom: 0px;
}

#blog-post .blog-link a {
	background: #fff;
}

#exec {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 20vh;
	min-height: 100vh;
}
