body {
	font-family: 'Clear Sans', 'Source Sans Pro', sans-serif;
	background: #f5f5f5;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
	}

	.container .row {
		margin-left: 0;
		margin-right: 0;
	}
}

.welcome a {
	color: #c1272d;
}

.welcome a:hover {
	text-decoration: underline;
}

.container h1 {
	font-family: 'Clear Sans Bold';
}

.join {
	color: #fff !important;
	background: #c1272d !important;
}

a.join:hover {
	text-decoration: none;
}

.calendar-section {
	padding-top: 30px;
	text-align: center;
	background: #fff;
}

.calendar-section h1 {
	color: #c1272d;
	margin-top: 0px;
}

.calendar-section .subscribe-link {
	text-align: center;
	position: relative;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.calendar-section .subscribe-link a {
	font-size: 1.25em;
}

.calendar-section .subscribe-link a:hover {
	cursor: pointer;
	color: #c1272d;
}

.calendar-section .subscribe-link:after {
	content: "";
	background: #c1272d;
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: 0;
	width: 50%;
	height: 1px;
}

#calendar {
	text-align: center;
	background: #fff;
}

.programs {
	background: #fff;
}

.post {
	color: #000 !important;
	font-family: 'Clear Sans Light', 'Source Sans Pro', sans-serif !important;
}

.post div[style] {
	color: #000 !important;
	font-family: 'Clear Sans Light', 'Source Sans Pro', sans-serif !important;
}

.post span[style] {
	color: #000 !important;
	font-family: 'Clear Sans Light', 'Source Sans Pro', sans-serif !important;
}

#blog-post {
	background: #fff;
}

#blog-post div img {
	max-width: 100%;
	height: auto !important;
}

#blog-post div img[style] {
	max-width: 100%;
	height: auto !important;
}

#blog-post .pagination {
	display: none;
}

#exec {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 20vh;
	min-height: 100vh;
}
