@fontface {
	font-family: 'Clear Sans';
	src: url(fonts/clearsans/ClearSans-Regular.ttf);
}

@fontface {
	font-family: 'Clear Sans';
	src: url(fonts/clearsans/ClearSans-Bold.ttf);
	font-weight: bold;
}

@fontface {
	font-family: 'Clear Sans';
	src: url(fonts/clearsans/ClearSans-Italic.ttf);
	font-style: italic;
}

@fontface {
	font-family: 'Clear Sans';
	src: url(fonts/clearsans/ClearSans-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

body {
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	50%{	opacity: 0.8; }
	to{	opacity: 1; }
}

.nav-wrapper {
	background: #c1272d;
}

.logo {
	height: 64px;
}