@import url('clearsans.css');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

body {
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	font-family: 'Clear Sans', sans-serif;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	50%{	opacity: 0.8; }
	to{	opacity: 1; }
}

nav {
	padding-top: 10px;
    line-height: 40px !important;
    background-color: #c1272d !important;
    padding-bottom: 60px;
    padding-right: 25px;
}

nav ul {
	margin-top: 5px !important;
}

.nav-wrapper {
	background: #c1272d;
}

.logo {
	height: 50px;
	margin-left: 20px;
}

.blog-image-padding {
	padding: 0.75rem 0;
}

.waves-effect.waves-ieee-light .waves-ripple {
	background-color: rgba(220, 86, 90, 0.65);
}

.exec-name {
	font-family: 'Clear Sans Medium';
}

.test-head {
	font-family: 'Clear Sans Medium'
}

.clear-lite {
	font-family: 'Clear Sans Light';
}