@import url('clearsans.css');

body {
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	font-family: 'Clear Sans', sans-serif;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	50%{	opacity: 0.8; }
	to{	opacity: 1; }
}

.nav-wrapper {
	background: #c1272d;
}

.logo {
	height: 64px;
}

.blog-image-padding {
	padding: 0.75rem 0;
}

.test-head {
	font-weight: 700;
}

.clear-lite {
	font-family: 'Clear Sans Light';
}

.source-lite {
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

.source {
	font-family: 'Source Sans Pro';
}

span.source {
	margin-left: 50px;
}

.sp {
	font-weight: 400 !important;
}