@import url("https://fontlibrary.org/face/trueno");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400");

$trueno: 'TruenoRegular', sans-serif;
$trueno-lite: 'TruenoLight', sans-serif;
$trueno-ultralite: 'TruenoUltraLight', sans-serif;
$trueno-semibold: 'TruenoSemiBold', sans-serif;
$trueno-bold: 'TruenoBold', sans-serif;
$trueno-extrabold: 'TruenoExtraBold', sans-serif;
$trueno-black: 'TruenoBlack', sans-serif;
$trueno-ultralite-italic: 'TruenoUltraLightItalic', sans-serif;