@import "colors";

.main {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .post-container {
    width: 700px !important;
    padding-bottom: 6rem;
  }

  .main {
    padding-bottom: 6rem;
  }
}

#disqus_thread {
  margin-top: 3rem;
}

.comment-divider {
  margin-top: 3rem;
}

.post-divider {
  margin-top: 2rem;
}

ul.pagination li.active {
    background-color: $ieee-base;
    color: #fff;
}