@import "colors";
@import "fonts";

.main {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .post-container {
    width: 700px !important;
    padding-bottom: 6rem;
  }

  .main {
    padding-bottom: 6rem;
  }
}

.back-to-blog {
  p {
    font-family: 'Inconsolata', monospace;
    margin: 25px 0 0 0;

    a {
      color: $ieee-dark-gray;

      &:hover {
        color: $ieee-base;
      }

      i.material-icons {
        width: 28px;
      }
    }
  }
}

#disqus_thread {
  margin-top: 3rem;
}

.comment-divider {
  margin-top: 3rem;
}

.post-divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

ul.pagination {
  font-family: $trueno-lite;
  font-size: 21px;

  li {
    float: left;
    margin: 0 5px;
  }

  li.active {
    background-color: $ieee-base;
    color: #fff;
  }
}