.main {
  padding-top: 20px;
  padding-bottom: 40px;
}

.post {
    margin-bottom: 30px;
}

.divider {
    margin-bottom: 30px;
}

ul.pagination li.active {
    background-color: #c1272d;
    color: #fff;
}