@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans/ClearSans-Regular.eot");
  src: url("../fonts/clearsans/ClearSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-Regular.woff") format("woff"), url("../fonts/clearsans/ClearSans-Regular.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-Regular.svg#ClearSans-Regular") format("svg");
  font-weight: 400; }
@font-face {
  font-family: 'Clear Sans Bold';
  src: url("../fonts/clearsans/ClearSans-Bold.eot");
  src: url("../fonts/clearsans/ClearSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-Bold.woff") format("woff"), url("../fonts/clearsans/ClearSans-Bold.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-Bold.svg#ClearSans-Bold") format("svg");
  font-weight: 700; }
@font-face {
  font-family: 'Clear Sans Light';
  src: url("../fonts/clearsans/ClearSans-Light.eot");
  src: url("../fonts/clearsans/ClearSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-Light.woff") format("woff"), url("../fonts/clearsans/ClearSans-Light.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-Light.svg#ClearSans-Light") format("svg");
  font-weight: 300; }
@font-face {
  font-family: 'Clear Sans Medium';
  src: url("../fonts/clearsans/ClearSans-Medium.eot");
  src: url("../fonts/clearsans/ClearSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-Medium.woff") format("woff"), url("../fonts/clearsans/ClearSans-Medium.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-Medium.svg#ClearSans-Medium") format("svg");
  font-weight: 500; }
@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans/ClearSans-Italic.eot");
  src: url("../fonts/clearsans/ClearSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-Italic.woff") format("woff"), url("../fonts/clearsans/ClearSans-Italic.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-Italic.svg#ClearSans-Italic") format("svg");
  font-style: italic; }
@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/clearsans/ClearSans-BoldItalic.eot");
  src: url("../fonts/clearsans/ClearSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/ClearSans-BoldItalic.woff") format("woff"), url("../fonts/clearsans/ClearSans-BoldItalic.ttf") format("truetype"), url("../fonts/clearsans/ClearSans-BoldItalic.svg#ClearSans-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }
body {
  font-family: "Clear Sans", "Source Sans Pro", sans-serif; }

.welcome a, a.subscribe-link {
  color: #c1272d; }
  .welcome a:hover, a.subscribe-link:hover {
    text-decoration: underline; }

.container h1 {
  font-family: "Clear Sans Bold", "Source Sans Pro", sans-serif; }

a.join {
  color: #fff !important;
  background: #c1272d !important; }
  a.join:hover {
    text-decoration: none; }

.modal-content-row {
  margin-bottom: 10px !important; }

.app-text, input#email, .email-row {
  margin-bottom: 0 !important; }

.join-disclaimer {
  font-size: 85%;
  opacity: .54;
  margin-top: -10px; }

#join-modal .modal-content {
  padding-bottom: 0; }

.submit-app {
  color: #d4686c !important; }
  .submit-app input:focus {
    outline: none; }

#application input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fafafa inset !important; }

.error {
  margin: 0;
  white-space: nowrap; }

#error-message {
  background: #fcf8e3;
  border-radius: 3px;
  padding: 5px 8px;
  color: #8a6d3b;
  display: none;
  margin-left: -500px; }
  #error-message i.material-icons {
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-1px); }

.event-list {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 10px !important; }
  .event-list .event-wrapper {
    margin-top: 8px; }
  .event-list .carousel-group:last-child {
    margin-bottom: 15px; }
  .event-list .carousel-group:focus {
    outline: 0; }
  .event-list .event-item {
    overflow: hidden;
    padding-right: 10px;
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial; }
    .event-list .event-item:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer; }
    .event-list .event-item .event-date {
      background: #c1272d;
      color: white;
      float: left;
      padding: 5px;
      width: 68px; }
      .event-list .event-item .event-date h3, .event-list .event-item .event-date h6 {
        margin: 0; }
      .event-list .event-item .event-date h3 {
        margin-top: -5px; }
    .event-list .event-item .event-info {
      margin-left: 78px;
      padding-top: 0.5rem; }
      .event-list .event-item .event-info h6, .event-list .event-item .event-info p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal; }
      .event-list .event-item .event-info h6 {
        font-size: 1.32rem; }

.carousel-nav-container {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center; }
  .carousel-nav-container .carousel-nav {
    display: inline-block; }
    .carousel-nav-container .carousel-nav .slick-dots {
      margin: 0 10px;
      position: relative;
      top: 6px;
      bottom: auto;
      width: auto;
      height: 10px;
      display: inline-block; }
      .carousel-nav-container .carousel-nav .slick-dots li {
        position: relative;
        top: -5px; }
    .carousel-nav-container .carousel-nav .carousel-prev, .carousel-nav-container .carousel-nav .carousel-next {
      position: relative;
      left: auto;
      right: auto;
      display: inline-block;
      top: auto;
      transform: none !important;
      cursor: pointer;
      line-height: 1;
      font-size: 20px;
      color: black;
      opacity: .65; }
      .carousel-nav-container .carousel-nav .carousel-prev:hover, .carousel-nav-container .carousel-nav .carousel-next:hover {
        opacity: 1; }
    .carousel-nav-container .carousel-nav .carousel-prev {
      float: left; }
    .carousel-nav-container .carousel-nav .carousel-next {
      float: right; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .carousel-nav .slick-dots {
    top: auto; } }
.programs-label, .events-label {
  opacity: .54; }

.programs-list {
  margin: 0;
  padding-top: 1rem; }
  .programs-list li a {
    color: #000;
    font-family: "Clear Sans Medium", "Source Sans Pro", sans-serif;
    font-size: 1.64rem; }
    .programs-list li a:hover {
      color: #c1272d; }

.blog-label {
  opacity: .54; }

#blog-post .pagination {
  display: none; }

a.blog-btn {
  margin-top: 3rem;
  color: #c1272d;
  font-family: "Clear Sans Light", "Source Sans Pro", sans-serif;
  display: block; }
  a.blog-btn:hover {
    text-decoration: underline; }

@media only screen and (max-width: 600px) {
  a.blog-btn {
    padding: 0 0.5rem !important; }

  .app-text {
    display: none; } }

/*# sourceMappingURL=home.css.map */
