@import url("https://fontlibrary.org/face/trueno");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:4");
body {
  font-family: "TruenoUltraLight", sans-serif; }

.welcome p {
  font-family: "TruenoUltraLight", sans-serif;
  font-size: 18px; }

.welcome a, a.subscribe-link {
  color: #c1272d; }
  .welcome a:hover, a.subscribe-link:hover {
    text-decoration: underline; }

.container h1 {
  font-family: "TruenoExtraBold", sans-serif; }

a.join {
  color: #fff !important;
  background: #c1272d !important; }
  a.join:hover {
    text-decoration: none; }

.modal-content-row {
  margin-bottom: 10px !important; }

.app-text, input#email, .email-row {
  margin-bottom: 0 !important; }

.join-disclaimer {
  font-size: 85%;
  opacity: .54;
  margin-top: -10px; }

#join-modal .modal-content {
  padding-bottom: 0; }

.submit-app {
  color: #c1272d !important; }
  .submit-app input:focus {
    outline: none; }

#application input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fafafa inset !important; }

.error {
  margin: 0;
  white-space: nowrap; }

#error-message {
  background: #fcf8e3;
  border-radius: 3px;
  padding: 5px 8px;
  color: #f7931f;
  display: none;
  margin-left: -500px; }
  #error-message i.material-icons {
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-1px); }

.no-events {
  width: 100%;
  position: relative; }

.no-events:after {
  padding-bottom: 50%;
  display: block;
  content: ""; }

.no-events-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: "TruenoUltraLight", sans-serif; }
  .no-events-message a {
    color: #c1272d;
    opacity: 1; }
    .no-events-message a:hover {
      text-decoration: underline; }
  .no-events-message p {
    margin: 0; }

.event-list {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 10px !important; }
  .event-list .event-wrapper {
    margin-top: 8px; }
  .event-list .carousel-group:last-child {
    margin-bottom: 15px; }
  .event-list .carousel-group:focus {
    outline: 0; }
  .event-list .event-item {
    overflow: hidden;
    padding-right: 10px;
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial; }
    .event-list .event-item:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer; }
    .event-list .event-item .event-date {
      background: #c1272d;
      color: white;
      float: left;
      padding: 5px;
      width: 68px; }
      .event-list .event-item .event-date h3, .event-list .event-item .event-date p {
        margin: 0; }
      .event-list .event-item .event-date h3 {
        margin-top: -5px;
        font-family: "TruenoRegular", sans-serif; }
      .event-list .event-item .event-date .event-month {
        font-family: 'Inconsolata', monospace;
        font-size: 16px;
        text-transform: uppercase; }
    .event-list .event-item .event-info {
      margin-left: 78px;
      padding-top: 0.5rem; }
      .event-list .event-item .event-info p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
        font-family: 'Inconsolata', monospace; }
      .event-list .event-item .event-info .event-time-location {
        font-size: 18px; }
      .event-list .event-item .event-info p i.material-icons {
        position: relative;
        top: 2.5px;
        font-size: 15px;
        color: #838385;
        opacity: .8; }

.carousel-nav-container {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center; }
  .carousel-nav-container .carousel-nav {
    display: inline-block; }
    .carousel-nav-container .carousel-nav .slick-dots {
      margin: 0 10px;
      position: relative;
      bottom: auto;
      width: auto;
      display: inline-block; }
      .carousel-nav-container .carousel-nav .slick-dots li {
        position: relative; }
    .carousel-nav-container .carousel-nav .carousel-prev, .carousel-nav-container .carousel-nav .carousel-next {
      position: relative;
      left: auto;
      right: auto;
      display: inline-block;
      top: auto;
      transform: none !important;
      cursor: pointer;
      line-height: 1;
      font-size: 20px;
      color: black;
      opacity: .65; }
      .carousel-nav-container .carousel-nav .carousel-prev:hover, .carousel-nav-container .carousel-nav .carousel-next:hover {
        opacity: 1; }
    .carousel-nav-container .carousel-nav .carousel-prev {
      float: left; }
    .carousel-nav-container .carousel-nav .carousel-next {
      float: right; }

@media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 933px) {
  .carousel-nav .slick-dots {
    top: -5px; } }
.programs-label, .events-label, .blog-label {
  opacity: .8; }

.programs-list {
  margin: 0;
  padding-top: 1rem; }
  .programs-list li a {
    color: #333539;
    font-family: "TruenoRegular", sans-serif;
    font-size: 24px; }
    .programs-list li a:hover {
      text-decoration: underline !important; }

#blog-post {
  margin-bottom: 3rem; }

#blog-post .pagination {
  display: none; }

.recent-posts {
  margin-top: 0.5rem;
  margin-bottom: 3rem; }
  .recent-posts .blog-label {
    margin-bottom: 1rem; }

@media only screen and (max-width: 600px) {
  .app-text {
    display: none; }

  .blog-label {
    font-size: 1rem; } }

/*# sourceMappingURL=home.css.map */
