@import 'fonts';
@import 'colors';

body {
  font-family: $trueno-ultralite;
}

.welcome p {
  font-family: $trueno-ultralite;
  font-size: 18px;
}

.welcome a, a.subscribe-link {
  color: $ieee-base;
  &:hover {
    text-decoration: underline;
  }
}

.container h1 {
  font-family: $trueno-extrabold;
}

a.join {
  color: #fff !important;
  background: $ieee-base !important;

  &:hover {
    text-decoration: none;
  }
}

.modal-content-row {
  margin-bottom: 10px !important;
}

.app-text, input#email, .email-row{
  margin-bottom: 0 !important;
}

.join-disclaimer {
  font-size: 85%;
  opacity: .54;
  margin-top: -10px;
}

#join-modal .modal-content {
  padding-bottom: 0;
}

.submit-app {
  color: $ieee-base !important;

  input:focus {
    outline: none;
  }
}

#application {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(250, 250, 250) inset !important;
  }
}

.error {
  margin: 0;
  white-space: nowrap;
}

#error-message {
  border-radius: 3px;
  padding: 5px 8px;
  color: $ieee-warning;
  display: none;
  margin-left: -500px;
  font-size: 18px;

  i.material-icons {
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-1px);
  }
}

.no-events {
  width: 100%;
  position: relative;
}

.no-events:after {
  padding-bottom: 50%;
  display: block;
  content: "";
}

.no-events-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: $trueno-ultralite;

  a {
    color: $ieee-base;
    opacity: 1;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }
}

.event-list {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 10px !important;

  .event-wrapper {
    margin-top: 8px;
  }

  .carousel-group:last-child {
    margin-bottom: 15px;
  }

  .carousel-group:focus {
    outline: 0;
  }

  .event-item {
    overflow: hidden;
    padding-right: 10px;
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    .event-date {
      background: $ieee-base;
      color: white;
      float: left;
      padding: 5px;
      width: 68px;

      h3, p {margin: 0;}
      h3 {
        margin-top: -5px;
        font-family: $trueno;
      }
      .event-month {
        font-family: 'Inconsolata', monospace;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .event-info {
      margin-left: 78px;
      padding-top: 0.5rem;
      p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
      }
      .event-title{font-family: $trueno-lite}
      .event-time-location {
        font-size: 18px;
        margin-top: 0.3rem;
      }

      p i.material-icons {
        position: relative;
        top: 2.5px;
        font-size: 15px;
        color: $ieee-light-gray;
        opacity: .8;
      }
    }
  }
}

.carousel-nav-container {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  .carousel-nav {
    display: inline-block;
    .slick-dots {
      margin: 0 10px;
      position: relative;
      bottom: auto;
      width: auto;
      display: inline-block;
      li {
        position: relative;
      }
    }
    .carousel-prev, .carousel-next {
      position: relative;
      left: auto;
      right: auto;
      display: inline-block;
      top: auto;
      transform: none !important;
      cursor: pointer;
      line-height: 1;
      font-size: 20px;
      color: black;
      opacity: .65;
      &:hover {
        opacity: 1;
      }
    }

    .carousel-prev { float: left; }
    .carousel-next { float: right; }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @media only screen and (min-width: 933px) {
    .carousel-nav .slick-dots {
      top: -5px;
    }
  }
}

.programs-label, .events-label, .blog-label {
  opacity: .8;
}

.programs-list {
  margin: 0;
  padding-top: 1rem;
  li a {
    color: $ieee-dark-gray;
    font-family: $trueno;
    font-size: 24px;
    &:hover {
      text-decoration: underline !important;
    }
  }
}

#blog-post {
  margin-bottom: 3rem;
}

#blog-post .pagination {
  display: none;
}

@media only screen and (max-width : 600px) {
  #blog-post {
    margin-bottom: 0;
  }
}

.post-section-divider {
  margin-bottom: 1.25rem;
}

.recent-posts {
  margin-top: 0.5rem;
  margin-bottom: 3rem;

  .blog-label {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {

  .app-text { display: none;  }

  .blog-label { font-size: 1rem }
}
