@import 'clearsans';
@import 'colors';

body {
  font-family: $clearsans;
}

.welcome a, a.subscribe-link {
  color: $ieee-base;
  &:hover {
    text-decoration: underline;
  }
}

.container h1 {
  font-family: $clearsans-bold;
}

a.join {
  color: #fff !important;
  background: $ieee-base !important;

  &:hover {
    text-decoration: none;
  }
}

.modal-content-row {
  margin-bottom: 10px !important;
}

.app-text, input#email, .email-row{
  margin-bottom: 0 !important;
}

.join-disclaimer {
  font-size: 85%;
  opacity: .54;
  margin-top: -10px;
}

#join-modal .modal-content {
  padding-bottom: 0;
}

.submit-app {
  color: $ieee-light !important;

  input:focus {
    outline: none;
  }
}

#application {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(250, 250, 250) inset !important;
  }
}

.error {
  margin: 0;
  white-space: nowrap;
}

#error-message {
  background: #fcf8e3;
  border-radius: 3px;
  padding: 5px 8px;
  color: #8a6d3b;
  display: none;
  margin-left: -500px;

  i.material-icons {
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-1px);
  }
}

.event-list {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 10px !important;

  .event-wrapper {
    margin-top: 8px;
  }

  .carousel-group:last-child {
    margin-bottom: 15px;
  }

  .carousel-group:focus {
    outline: 0;
  }

  .event-item {
    overflow: hidden;
    padding-right: 10px;
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    .event-date {
      background: $ieee-base;
      color: white;
      float: left;
      padding: 5px;
      width: 68px;

      h3, h6 {margin: 0;}
      h3 {margin-top: -5px;}
    }

    .event-info {
      margin-left: 78px;
      padding-top: 0.5rem;
      h6, p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
      }
      h6 {font-size: 1.32rem;}
    }
  }
}

.carousel-nav-container {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  .carousel-nav {
    display: inline-block;
    .slick-dots {
      margin: 0 10px;
      position: relative;
      bottom: auto;
      width: auto;
      height: 10px;
      display: inline-block;
      li {
        position: relative;
        top: -5px;
      }
    }
    .carousel-prev, .carousel-next {
      position: relative;
      left: auto;
      right: auto;
      display: inline-block;
      top: auto;
      transform: none !important;
      cursor: pointer;
      line-height: 1;
      font-size: 20px;
      color: black;
      opacity: .65;
      &:hover {
        opacity: 1;
      }
    }

    .carousel-prev { float: left; }
    .carousel-next { float: right; }
  }
}

@media only screen and (max-width: 600px) {
  @-moz-document url-prefix(http://ieee.scripts.mit.edu/club/) {
    .carousel-nav .slick-dots {
      top: 6px !important;
    }
  }
}

.programs-label, .events-label {
  opacity: .54;
}

.programs-list {
  margin: 0;
  padding-top: 1rem;
  li a {
    color: #000;
    font-family: $clearsans-med;
    font-size: 1.64rem;
    &:hover {
      color: $ieee-base;
    }
  }
}

.blog-label {
  opacity: .54;
}

#blog-post .pagination {
  display: none;
}

a.blog-btn {
  margin-top: 3rem;
  color: $ieee-base;
  font-family: $clearsans-lite;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  a.blog-btn {
    padding: 0 0.5rem !important;
  }

  .app-text {
    display: none;
  }
}
