@import 'clearsans';
@import 'colors';

body {
  font-family: $clearsans;
}

.welcome a {
  color: $ieee-base;
  &:hover {
    text-decoration: underline;
  }
}

.container h1 {
  font-family: $clearsans-bold;
}

a.join {
  color: #fff !important;
  background: $ieee-base !important;

  &:hover {
    text-decoration: none;
  }
}

.modal-content-row {
  margin-bottom: 10px !important;
}

.app-text, input#email, .email-row{
  margin-bottom: 0 !important;
}

.join-disclaimer {
  font-size: 85%;
  opacity: .54;
  margin-top: -10px;
}

#join-modal .modal-content {
  padding-bottom: 0;
}

.submit-app {
  color: $ieee-light !important;

  input:focus {
    outline: none;
  }
}

.error {
  margin: 0;
}

#error-message {
  background: #fcf8e3;
  border-radius: 3px;
  padding: 5px 8px;
  color: #8a6d3b;
  display: none;
  margin-left: -500px;

  i.material-icons {
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-1px);
  }
}

.event-list {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 10px;

  .event-wrapper {
    margin-top: 8px;
  }

  .carousel-group:last-child {
    margin-bottom: 15px;
  }

  .event-item {
    min-height: 60px;
    overflow: auto;
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    .event-date {
      width: 68px;
      background: $ieee-base;
      display: inline-block;
      color: white;
      min-height: inherit;
      float: left;
      padding: 5px;

      h3, h6 {margin: 0;}
    }

    .event-info {
      margin-left: 78px;
      padding-top: 0.5rem;
      h6 {
        font-size: 1.32rem;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {margin: 0;}
    }
  }
}

.programs, .events {
  padding: 0.75rem;
}

.programs-label, .events-label {
  opacity: .54;
}

.programs-list {
  margin: 0;
  padding-top: 1rem;
  li a {
    color: #000;
    font-family: $clearsans-med;
    font-size: 1.64rem;
    &:hover {
      color: $ieee-base;
    }
  }
}

.blog-label {
  opacity: .54;
}

#blog-post .pagination {
  display: none;
}

a.blog-btn {
  margin-top: 3rem;
  color: $ieee-base;
  font-family: $clearsans-lite;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  a.blog-btn {
    padding: 0 0.5rem !important;
  }

  .app-text {
    display: none;
  }
}
