@import "fonts";
@import "materialize";
@import "colors";

body {
  font-family: $trueno;
  letter-spacing: -0.02em;
  color: #333539;
}

h1 {
  font-family: $trueno-extrabold;
  font-size: 67px;
}

h2 {
  font-family: $trueno-bold;
  font-size: 50px;
}


h3, .post-title {
  font-size: 37px;
}

h4 {
  font-family: $trueno-lite;
  font-size: 24px;
}

h5, h6 {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  color: #838385;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: $trueno-ultralite;
  font-size: 21px;
  line-height: 1.58;
}

nav {
  background-color: $ieee-base !important;

  .nav-wrapper {
    background: $ieee-base;
  }

  ul.right {
    margin-top: 5px !important;

    a {
      font-family: $trueno;
      letter-spacing: 0;
    }
  }

  .button-collapse i {
    margin-left: 15px;
  }

  .logo {
    height: 50px;
    margin-left: 20px;
  }
}

@media #{$large-and-up} {
  nav {
    padding-top: 10px;
    line-height: 40px !important;
    padding-bottom: 60px;
    padding-right: 25px;
  }
}

.blog-image-padding {
  padding: 0.75rem 0;
}

.waves-effect.waves-ieee-light .waves-ripple {
  background-color: rgba(220, 86, 90, 0.65);
}

a.post-link {
  color: $ieee-dark-gray !important;
  &:hover {
    text-decoration: underline;
  }
}

h5 a.post-link {
  text-transform: none;
}

.post {
  color: $ieee-dark-gray !important;
  font-family: $trueno-ultralite !important;

  a {
    color: $ieee-base;
    &:hover {
      text-decoration: underline;
    }
  }

  .post-title {
    font-family: $trueno;
    font-size: 37px;
  }

  .post-details, .read-more {
    font-size: 18px;
  }

  p, div {
    font-size: 21px;
    line-height: 1.58;
  }

  div[style], span[style] {
    color: $ieee-dark-gray !important;
    font-family: $trueno-ultralite !important;
  }
}

@media #{$small-and-down} {
  .post {
    .post-title {
      font-size: 28px;
    }

    .post-details, .read-more {
      font-size: 16px;
    }

    p, div {
      font-size: 18px;
    }
  }

  #blog-post {
    margin-bottom: 0;
  }
}

.post-section-divider {
  margin-bottom: 1rem;
}

.post-details {
  color: $ieee-light-gray;
  margin-bottom: -20px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.post img {
  max-width: 100%;
  height: auto !important;
}

.post div img {
  max-width: 100%;
  height: auto !important;
  &[style] {
    max-width: 100%;
    height: auto !important;
  }
}

.read-more {
  margin-top: -0.75rem;

  a {
    opacity: .5;
    color: $ieee-dark-gray !important;
    &:hover {
      opacity: .8;
      text-decoration: none !important;
    }
  }
}

@media #{$medium-and-down} {
  #application {
    input {
      font-size: 1.3rem;
    }
  }
}